<html>
<head>
  <style type="text/css">
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>
</head>
<body>

<!-- Contenido principal -->
<h1>Edit Post</h1>
<p>In this menu you can edit the title and content of a post.
</body>
</html>

<%= render 'form' %>