<html>
<head>
  <style type="text/css">
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>
</head>
<body>

<!-- Contenido principal -->
<h1>Public a New Post</h1>
<p>In this menu you can create a post with the title and the content.
</body>
</html>
<%= render 'form' %>